<a href="https://colab.research.google.com/github/ErisonBarros/BR-408-Highway-Domain-Database/blob/gh-pages1/Dataset_BR_408_Highway_Domain_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<!-- README.md is generated from README.Rmd. Please edit that file -->

# TIME-SPACE MODELING OF IRREGULAR OCCUPATIONS AROUND BRAZILIAN HIGHWAYS, BASED ON STATIC GRIDS: CASE STUDY BR-408 CASE STUDY <img src="https://github.com/decartlabat/site/blob/master/simbololo%20labat.png" align="right" width=150/>

## **Universidade Federal de Pernambuco -UFPE**
**Graduate Program in Civil Engineering**

Rede de Estudos de Engenharia e Socioeconômicos de Transportes

[![License: GPL
v3](https://img.shields.io/badge/License-GPL%20v3-blue.svg)](http://www.gnu.org/licenses/gpl-3.0)

Collaborators:

> Erison Rosa de Oliveira Barros (UFPE)  https://orcid.org/0000-0003-4879-6880

> Maurício de O. Andrade (UFPE)

> Fernando Lourenço de Souza Júnior (UFPE)  https://orcid.org/0000-0002-6000-149X



---


This repository is for the summary data article entitled "MODEL TEMPORAL SPACE OF IRREGULAR OCCUPATIONS IN THE BRAZILIAN ROAD SURROUND: BR-408 CASE STUDY" and can be found at Link . The data set describes the census data of the years 2000 and 2010 , as well as the geospatial data of the limits of the census sectors and the irregular occupations on the BR-408 domain range in the 2018 stretch between Recife and Timbaúba , referring to the BR-Legal program in the state of Pernambuco that is carrying out the Inventory and Monitoring of the Domain Range - IMFD, with the objective of Monitoring Automation through CAD and geoprocessing software (QGIS) and high-resolution imaging.


---

# Highlight:



---



*   Geospatial Data of the Census Sectors of the Years 2000 and 2010;
*   Irregular Occupations Data obtained by photointerpretation of satellite images from 2000 and 2010;
*   Geospatial Data of the Irregular Occupations on the BR-408 Highway Domain Range of the year 2018
*   Disaggregation and Aggregation of Data from the Census Sectors of the Year 2000 and 2010 in the Statistical Grids;
*   Normalization of the Geospatial Vector Data aggregated to the Statistical Grid;
*    Rasterization of the Data in Pixels of Use and Occupation for the Year 2000, 2010 and 2018 obtained by the Dataset of the Mapbiomas Project;
*   Simulations of variables and Use/Occupation data in the Molusce plugin;

# Geospatial Data of the Census Sectors of the Years 2000 and 2010;

---
## Oculto

In [ ]:
!pip install geobr
!pip install geopandas
!pip install descartes 
!pip install pyshp
!pip install pandas
!pip install folium
!pip install fiona

In [ ]:
pip install fiona

In [ ]:
# Import necessary modules
import geopandas as gpd

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import folium
from folium import plugins

## PERNAMBUCO Geospatial Data


**Pernambuco's Location in Relation to Brazil**

![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Pernambuco_in_Brazil.svg/300px-Pernambuco_in_Brazil.svg.png)


**Map of Pernambuco**

![alt text](https://upload.wikimedia.org/wikipedia/commons/0/02/Pernambuco_MesoMicroMunicip.svg)

Donwload da Base de Dados do Censodemográfico pelo [Portal dos Instituto Nacional de Geográfia e Estátistica IBGE](https://www.ibge.gov.br/)

Dados Censitários dos Municipios:

In [ ]:
from geobr import read_municipality
# Read all municipalities of given state at a given year
mun = read_municipality(code_muni="PE", year=2010)
mun

     code_muni  ...                                           geometry
0    2600054.0  ...  POLYGON ((-34.89651 -7.91786, -34.89544 -7.920...
1    2600104.0  ...  POLYGON ((-37.68470 -7.61454, -37.68076 -7.613...
2    2600203.0  ...  POLYGON ((-40.90285 -8.42345, -40.90129 -8.420...
3    2600302.0  ...  POLYGON ((-35.96779 -8.35831, -35.94473 -8.358...
4    2600401.0  ...  POLYGON ((-35.36990 -8.71984, -35.34160 -8.724...
..         ...  ...                                                ...
180  2616183.0  ...  POLYGON ((-35.82032 -7.74878, -35.81057 -7.745...
181  2616209.0  ...  POLYGON ((-36.00621 -7.81787, -36.00201 -7.816...
182  2616308.0  ...  POLYGON ((-35.42599 -7.71497, -35.44567 -7.692...
183  2616407.0  ...  POLYGON ((-35.23128 -8.03220, -35.22802 -8.031...
184  2616506.0  ...  POLYGON ((-35.64611 -8.78445, -35.60630 -8.775...

[185 rows x 5 columns]

**Area of Influence of BR-408 Highway on the mesh of Pernambuco Municipalities**

<a href="https://ibb.co/C5Z7PYz"><img src="https://i.ibb.co/wNXWcPR/Map-of-Highway-BR408-x-Municipios-Pernambucanos.png" alt="Map-of-Highway-BR408-x-Municipios-Pernambucanos" border="0"></a>

**Área de Influencia da Rodovia BR-408 sobre os Setores Censitários**

<img src="https://i.ibb.co/5c8v0cW/Map-of-Highway-BR408-x-Census-Sectors.png" alt="Map-of-Highway-BR408-x-Census-Sectors" border="0">

**To access the dataset of the Static Grids**
https://mapasinterativos.ibge.gov.br/grade/default.html

<img src="https://i.ibb.co/N39sZc0/Map-of-Highway-BR408-x-Statistical-grid-on-the-area-of-Influence.png" alt="Map-of-Highway-BR408-x-Statistical-grid-on-the-area-of-Influence" border="0">

To access the statistical grid:
https://cnae.ibge.gov.br/en/estrutura/natjur-estrutura/77-mapas/mapas-interativos/8537-grade-estatistica.html

# Irregular Occupations Data obtained by photointerpretation of satellite images from 2000 and 2010;

**Irregular Occupations on the Highway's Domain Track in 2000**

<img src="https://i.ibb.co/zR7T3yr/Map-of-Highway-BR408-x-Irregular-Occupations-on-the-Highway-year-2000.png" alt="Map-of-Highway-BR408-x-Irregular-Occupations-on-the-Highway-year-2000" border="0">

**Irregular Occupations on the Highway's Domain Track in 2010**

<img src="https://i.ibb.co/LYSqbgc/Map-of-Highway-BR408-x-Irregular-Occupations-on-the-Highway-year-2010.png" alt="Map-of-Highway-BR408-x-Irregular-Occupations-on-the-Highway-year-2010" border="0">

### Oculto

In [ ]:
pip install ggplot

In [ ]:
pip install plotnine

In [ ]:
from geopandas import GeoDataFrame
import pandas as pd
from plotnine import *
%matplotlib inline

In [ ]:
import geopandas as gpd
import matplotlib.pyplot as plt

shapefile = gpd.read_file("/content/26MUE250GC_SIR.shp")
print(shapefile)
print(shapefile.head())
shapefile.plot()
plt.show()

In [ ]:
import numpy as np 
import pandas as pd 
import shapefile as shp 
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
# Inicializando o conjunto de visualização
% matplotlib inline

#Geospatial Data of the Irregular Occupations on the BR-408 Highway Domain Range of the year 2018

**Irregular Occupations on the Highway's Domain Track in 2018**

<img src="https://i.ibb.co/7WfmPr6/Map-of-Highway-BR408-x-Irregular-Occupations-on-the-Highway-year-2018.png" alt="Map-of-Highway-BR408-x-Irregular-Occupations-on-the-Highway-year-2018" border="0">

## Geospatial Data of Irregular Occupations on the Domain Range

In [ ]:
# Read file using gpd.read_file()
shapefile = gpd.read_file('/content/Centroide_Edif_20018.shp')
type(shapefile)

geopandas.geodataframe.GeoDataFrame

In [ ]:
shapefile = shapefile.to_crs( crs='SIRGAS2000', epsg=4618, inplace=False)

In [ ]:
print("Loading Shapefile...")

Loading Shapefile...

In [ ]:
Ocup_2018 = GeoDataFrame.from_file('/content/Centroide_Edif_20018.shp')
Ocup_2018.head(5)

   id  fid      rodovia  ...    coordx     coordy                        geometry
0   1  1.0  BR-408/PE\n  ...  252874.0  9158197.0  POINT (252873.848 9158223.333)
1   2  2.0  BR-408/PE\n  ...  252219.0  9156205.0  POINT (252216.527 9156200.981)
2   3  3.0  BR-408/PE\n  ...  252235.0  9156154.0  POINT (252229.227 9156150.923)
3   4  4.0  BR-408/PE\n  ...  252219.0  9156142.0  POINT (252221.064 9156145.273)
4   5  5.0  BR-408/PE\n  ...  252212.0  9156138.0  POINT (252213.939 9156141.154)

[5 rows x 24 columns]

# Disaggregation and Aggregation of Data from the Census Sectors of the Year 2000 and 2010 in the Statistical Grids;

**Reading of the BR-408 influence grids**

In [ ]:
grid=pd.read_csv('/content/grid_estastistico.csv')
grid

                ID_UNICO  MASC  FEM  ...          area    perimeter  Densid
0      200ME70340N104332     0    0  ...  4.003364e+04   800.394844     0.0
1      200ME70342N104332     0    0  ...  4.003354e+04   800.393884     0.0
2      200ME70344N104332     0    0  ...  4.003346e+04   800.393018     0.0
3      200ME70346N104332     0    0  ...  4.003334e+04   800.391849     0.0
4      200ME70348N104332     0    0  ...  4.003322e+04   800.390680     0.0
...                  ...   ...  ...  ...           ...          ...     ...
11183     1KME7061N10386    15   14  ...  1.000469e+06  4001.256219     0.0
11184     1KME7062N10373     4    3  ...  1.000447e+06  4001.219906     0.0
11185     1KME7062N10383     8    7  ...  1.000455e+06  4001.230453     0.0
11186     1KME7062N10384     9    8  ...  1.000456e+06  4001.231476     0.0
11187     1KME7063N10373     0    0  ...  1.000436e+06  4001.197428     0.0

[11188 rows x 27 columns]

## Exploratory Data Analysis

Analise Exploratória dos dados Link

# Normalization of the Geospatial Vector Data aggregated to the Statistical Grid;

In [ ]:
import pandas as pd
grid_norm=pd.read_csv('/content/grid_estastistico.csv')
grid_norm

                ID_UNICO  MASC  FEM  ...          area    perimeter  Densid
0      200ME70340N104332     0    0  ...  4.003364e+04   800.394844     0.0
1      200ME70342N104332     0    0  ...  4.003354e+04   800.393884     0.0
2      200ME70344N104332     0    0  ...  4.003346e+04   800.393018     0.0
3      200ME70346N104332     0    0  ...  4.003334e+04   800.391849     0.0
4      200ME70348N104332     0    0  ...  4.003322e+04   800.390680     0.0
...                  ...   ...  ...  ...           ...          ...     ...
11183     1KME7061N10386    15   14  ...  1.000469e+06  4001.256219     0.0
11184     1KME7062N10373     4    3  ...  1.000447e+06  4001.219906     0.0
11185     1KME7062N10383     8    7  ...  1.000455e+06  4001.230453     0.0
11186     1KME7062N10384     9    8  ...  1.000456e+06  4001.231476     0.0
11187     1KME7063N10373     0    0  ...  1.000436e+06  4001.197428     0.0

[11188 rows x 27 columns]

**Normalization and rasterization for pixel was based on these tables.**

<img src="https://i.ibb.co/BNQF7zw/Normaliza-o.jpg" alt="Normaliza-o" border="0">

We will present some examples

**Maps of Percentage of DPPs rented**

<img src="https://i.ibb.co/Bz1HC4N/Percentage-of-DPPs-rented.png" alt="Percentage-of-DPPs-rented" border="0">

**Percentage of DPPs with garbage collected by cleaning service.**

<img src="https://i.ibb.co/yS6gdqd/Irregular-Occupations-on-the-Highway-Domain-Range-x-Percentage-of-DPPs-with-garbage-collected-by-cle.png" alt="Irregular-Occupations-on-the-Highway-Domain-Range-x-Percentage-of-DPPs-with-garbage-collected-by-cle" border="0">